{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
 <h1 class="govuk-heading-xl">Welcome to Frank's HM Court & Tribunal Service Developer's Application Test!</h1>



<div class="connection-status">
  <span id="taskSpinner" class="button-spinner" style="display:none;"></span>
  <span id="taskSpinnerLabel" class="govuk-body">Checking service {{urlBackEnd}} …</span>
</div>

<a id="taskButton"
   href="/task/list" 
   role="button" 
   draggable="false" 
   class="govuk-button govuk-button--secondary">
Show Task App
</a>


<div class="connection-status">
  <span id="demoSpinner" class="button-spinner" style="display:none;"></span>
  <span id="demoSpinnerLabel" class="govuk-body">...</span>
</div>

<a id="demoButton"
   href="/demo"
   role="button"
   draggable="false"
   class="govuk-button govuk-button--secondary">
Show Gov Demo
</a>

<script>
  async function updateButtonState(idPrefix, urlToCheck, timeoutMs) {
    const button = document.getElementById(idPrefix + "Button");
    const spinner = document.getElementById(idPrefix + "Spinner");
    const label = document.getElementById(idPrefix + "SpinnerLabel");
    const urlMessage = `Service <a href="${urlToCheck}" target="_blank">${urlToCheck}</a>`

    button.classList.add("govuk-button--secondary");
    button.classList.remove("button-ready");
    spinner.style.display = "inline-block";
    label.innerHTML = `Checking ${urlMessage} …`;

    // Create a timeout promise
    const timeout = new Promise((resolve) =>
      setTimeout(() => resolve({ ok: false, timeout: true }), timeoutMs)
    );

    // Ping health endpoint
    const response = await Promise.race([
      fetch(urlToCheck, {method: "HEAD" }).catch(() => ({ ok: false })),
      timeout
    ]);

    if (response.ok) {
        button.classList.add("button-ready");
        button.classList.remove("govuk-button--secondary");
        label.innerHTML = `${urlMessage} ok`;
    } else {
        label.innerHTML = `${urlMessage} not available`;
    }

    spinner.style.display = "none"
  }

  window.addEventListener('load', () => {
    // Run check on page load
    updateButtonState("task",'{{urlBackEnd}}',20000);
    updateButtonState("demo",'{{urlDemo}}',2000);
  });
</script>




{% endblock %}
